Resolution :  640, 360
Region : [North Indian - nid, South Indian - sid, Italian - ita, Thai - thi, Chinese - chi, Rajasthani - raj]
Type : [Starter - sta, Dessert - des, Main Course - mcs, Refreshments - ref]
